############################
# IDE files
############################
.idea/

############################
# Python Virtual Env
############################
venv/

############################
# Temp files
############################
output/
history/
